@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Roboto&display=swap');

:root {
    --primary-color: #1C448E;
        --secondary-color: #F3DFA2;
        --accent1-color: #74A4BC;
        --aceent2-color: #230903;
    
        --heading-font: Agbalumo;
        --paragraph-font: Roboto;
    
        --nav-background-color: #F3DFA2;
        --nav-link-color: #1C448E;
        --nav-hover-link-color: #74A4BC;
        --nav-hover-background-color: #230903;    
    }

