@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Roboto&display=swap');

:root {
--primary-color: #1C448E;
    --secondary-color: #F3DFA2;
    --accent1-color: #74A4BC;
    --aceent2-color: #230903;

    --heading-font: Agbalumo;
    --paragraph-font: Roboto;

    --nav-background-color: #F3DFA2;
    --nav-link-color: #1C448E;
    --nav-hover-link-color: #74A4BC;
    --nav-hover-background-color: #230903;    
}

body {
    font-family:  var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header {
    padding: 20px;
    background-color: var(--accent1-color);
}

p {
    padding: 25px;
}

nav {
    background-color: var(--secondary-color);
    font-size: 1.2rem;
    display: flex;
    box-shadow: 0 0 30px grey;
    margin: 0 0 .5rem .5rem;
    width: 75%;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-background-color);
}

article img {
    width: 75%;
    height: auto;
    border: solid var(--secondary-color);
    box-shadow: 0 0 30px grey;
    margin: 0 0 .5rem .5rem;
    display: flex;
}

img {
    box-shadow: 0 0 30px grey;
    margin: 0 0 .5rem .5rem;
}

main nav {
    font-family: var(--heading-font);
    color: var(--primary-color);
    display: flex;
    justify-content: center;
    font-size: 25px;
}
